/vendor
/node_modules
/public/build
/public/storage
.env
.git
.gitignore
# .docker folder intentionally not ignored for Apache config
Dockerfile
render.yaml
storage/*.key
tests
phpunit.xml
.phpunit.result.cache
.editorconfig
.phpactor.json
.vscode
.idea
*.log
